*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_wrapper_broker_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    background-color: rgb(222, 231, 242);
}
.body_container_main_wrapper{
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 35em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.letf_warpper{
    width: 20%;
    border-right: 2px solid rgb(172, 159, 159);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_wrapper_content{
    width: 90%;
    height: 90%;
}
.left_nav_bar{
    margin-top: 50px;
    height: 20.5em;
}
.left_nav_bar_items{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 3em;
    margin-top: 10px;
}
.left_nav_bar_items:hover{
    border-left: 4px solid rgb(4, 4, 4);
}
.left_nav_bar_items p{
    font-size: 1.2rem;
    width: 5em;
}
.user_profile_image_main_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_profile_image_main_wrapper p{
    margin-top: -15px;
    font-size: 1.2rem;
    font-weight: bold;
}
.user_profile_image{
    cursor: pointer;
    margin-top: 10px;
    width: 4.5em;
    height: 4em;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: url(Assert/Broker/WhatsApp\ Image\ 2023-10-31\ at\ 07.47.43_6ad4ee28.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.online_indicator{
    position: relative;
    top:-15px;
    left: 25px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: rgb(5, 168, 5);
}


.middle_wrapper{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;    
    height: 100%;
}
.middle_wraper_container{
    display: flex;
    width: 100%;
    height: 90%;
}
.special_div{
    padding: 20px;
    width: 75%;
}
.header_text h2{
    font-size: 2.1rem;
}
.header_text p{
    font-size: 1.1rem;
}
.first_indicator{
    width: 90%;
    height: 10em;
    background-color: rgb(238, 223, 241);
    border-radius: 10px;
    margin: 15px auto;
}
.second_indicator{
    width: 90%;
    height: 16.7em;
    margin: 22px auto;
}
.second_mo1{
    display: flex;
    gap: 10px;
}
.mo1_items{
    width: 50%;
    height: 7.5em;
    border-radius: 10px;
}
.mo2_item1{
    background-color: rgb(247, 189, 189);
}
.mo2_item2{
    background-color: rgb(246, 244, 183);
}
.mo2_item3{
    background-color: rgb(206, 241, 145);
    margin-top: 10px;
}
.mo2_item4{
    margin-top: 10px;
    background-color: rgb(145, 196, 241);
}


.m_payment{
    display: none ;
}
.reservation{
    display: none;
}
.setting{
    display: none;
}
.right_wrapper{
    margin-top: 50px;
    text-align: center;/*meka ain karanna */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.right_wrapper_indicator{
    width: 90%;
    height: 30em;
    border-radius: 20px;
    color: white;
    background-color: rgb(15, 15, 15);
}
.home{
    display: flex;
}
.m_payment{
    padding: 20px;
}
.reservation{
    padding: 20px;
}
#customers {
    overflow-y: scroll;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 2em;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #del_btn{
    background-color: #d1330b;
    border: none;
    color: white;
    height: 2em;
    width: 45%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  #edi_btn{
    background-color: #15b60a;
    border: none;
    color: white;
    height: 2em;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  .c_user_component{
    margin-top: 20px;
  }
  .c_user_component form input:focus{
    border: 2px solid #04AA6D;
}
  .c_user_component input{
    padding-left:15px;
    border: 1px solid rgb(95, 93, 93);
    border-radius: 2px;
    height: 2.5em;
    outline: none;
    width: 18em;
  }
  .c_user_component button{
    background-color: rgb(74, 125, 254);
    border-radius: 20px;
    border: none;
    height: 2.5em;
    width: 15%;
  }
  .status_compo{
    text-align: center;
    padding: 3.5px;
    background-color: rgb(246, 187, 114);
    border-radius: 10px;
    width: 60%;
    height: 1.5em;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
  }